.tag_part {
  &-card {
    width: 320px;

    border: solid 1px var(--semi-color-border);
    @media (min-width: 420px) {
      width: 360px;
    }
    @media (min-width: 680px) {
      width: 260px;
    }
  }
}
