.app {
  background-color: var(--semi-color-bg-1);
  /* 100px 是备案信息的高度 */
  min-height: calc(100vh - 100px);
  max-width: 1440px;
  margin: auto;

  /* 使备案信息留存在底部 */
  position: relative;
  padding-bottom: 100px;

  &-main {
    position: relative;
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 920px;
    background-color: var(--semi-color-bg-1);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px; */
    z-index: 10;

    @media (min-width: 680px) {
      // PC端
      padding: 40px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
