.app {
  background-color: var(--bg);
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;

  &-main {
    margin: auto;
    margin-top: 1rem;
    padding: 20px;
    max-width: 1140px;
    background-color: var(--bg-l);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;

    @media (min-width: 600px) {
      // PC端
      padding: 40px;
    }
  }
}
